{% extends 'news/index.html' %}
{% load static %}
{% block title %}Мероприятия{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'news/actions.css' %}">
<link rel="stylesheet" href="{% static 'category/page-bar.css' %}">


<!-- title part -->
<div class="page-title">
    <div class="title-row wrapper">
        <div class="sum-wrapper">
            <h1 class="title-text display-4">Мероприятия</h1>
        </div>
        <div class="nav-wrapper">
            <a href="/category"><span class="main-page-link">Главная</span></a>
            <span class="sep">–</span>
            <span class="current-page">Мероприятия</span>
        </div>
    </div>
</div>
<!-- end title part -->

<div class="container">
    {% if all_actions|length != 0 %}
    <div class="row block">
        <div class="actions_wrapper infinite-container">
            <!-- Мероприятия -->
            {% for action in all_actions %}
                <div class="action infinite-item">
                    <div class="data_block">
                        <div class="action_title"><a href="N_{{ action.id }}">{{ action.title }}</a></div>
                        <div class="date-block">
                            <span class="date">{{ action.pubdate|date:'D d M' }}</span>
                        </div>
                        <div class="description_block"><p>{{ action.small_description|striptags|safe|truncatewords:30 }}</p></div>
                    </div>
                </div>
            {% endfor %}
            <!-- Конец мероприятий -->
        </div>
    </div>
    {% if all_actions.has_next %}
        <a class="infinite-more-link" href="?page={{ all_actions.next_page_number }}"></a>
    {% endif %}
    <div class="loading-block" style="display: none;">
        <div class="loading-block__spinner"></div>
    </div>
    {% else %}
        <div class="alternative-block">
            <div class="alert alert-light" role="alert">
                <strong>Упс... </strong> Ни одного преподавателя пока нет, 
                подождите пока их добавят или 
                <a href="{% url 'send_letter' %}" class="write-link">напишите</a> нам сами
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}