{% extends 'news/index.html' %}
{% load static %}
{% block title %}Мероприятия{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'news/actions.css' %}">

<!-- title part -->
<div class="page-title">
    <div class="title-row wrapper">
        <div class="sum-wrapper">
            <h1 class="title-text display-4">Мероприятия</h1>
        </div>
        <div class="nav-wrapper">
            <a href="/category"><span class="main-page-link">Главная</span></a>
            <span class="sep">–</span>
            <span class="current-page">Мероприятия</span>
        </div>
    </div>
</div>
<!-- end title part -->

<div class="container">
    {% if all_actions|length != 0 %}
    <div class="row block">
        <div class="actions_wrapper">
            <!-- Мероприятия -->
            {% for action in all_actions %}
                <div class="action">
                    <!-- <div class="image_block">
                        <a href="N_{{ action.id }}/">
                            <div class="hoverer"><span>Read more...</span></div>
                            <div class="image_container">
                                <img src="{{ action.preview_image.url }}" alt="">
                            </div>
                        </a>
                    </div> -->
                    <div class="data_block">
                        <div class="action_title"><a href="N_{{ action.id }}">{{ action.title }}</a></div>
                        <div class="date"><span>{{ action.pubdate|date:'D d M H:i' }}</span></div>
                        <!-- <div class="meta_container">
                            <div class="meta_block">
                                <div class="meta__link"><a href="{% url 'main_page' %}">Главная</a></div>
                                <div class="meta__link"><a href="{% url 'actions' %}">Мероприятия</a></div>
                                <div class="date"><span>{{ action.register_date.day }}.{{ action.register_date.month }}.{{ action.register_date.year }}</span></div>
                            </div>
                            <div class="navigation">
                                <a href="N_{{ action.id }}" class="read_more">Читать дальше...</a>
                                <div class="comments">
                                    <i class="fas fa-comment"></i>
                                    <span>0</span>
                                </div>
                            </div> 
                        </div>-->
                        <div class="description_block"><p>{{ action.small_description|striptags|truncatechars:200 }}</p></div>
                    </div>
                </div>
            {% endfor %}
            <!-- Конец мероприятий -->
        </div>
    </div>
    {% else %}
        <div class="alternative-block">
            <div class="alert alert-light" role="alert">
                <strong>Упс... </strong> Ни одного преподавателя пока нет, 
                подождите пока их добавят или 
                <a href="{% url 'send_letter' %}" class="write-link">напишите</a> нам сами
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}