{% load static %}
{% block foobar %}
<link rel="stylesheet" href="{% static 'news/footer.css' %}">

<div class="f_wrapper">
    <div class="contacts cont">
        <div class="phone contacts__part">
            <i class="fas fa-phone-square"></i>
            <p class="for-phones"><a href="tel:+79525024220">+79525024220</a></p>
            <p class="for-pk">+79525024220</p>
        </div>
        <div class="location contacts__part">
            <i class="fas fa-map-marker-alt"></i>
            <p>Челябинск, ул. Воровского, 36А</p>
        </div>
        <div class="mail contacts__part">
            <i class="fas fa-envelope"></i>
            <p>EtoPravdaChelStudio777@yandex.ru</p>
        </div>
    </div>
    <div class="links cont">
        <div class="news-cont more-block">
            <a href="{% url 'all_news' %}" class="more-block__link">Новости</a>
            <p class="dim">Если хотите узнать что нового)</p>
        </div>
        <div class="contacts-cont more-block">
            <a href="{% url 'contacts' %}" class="more-block__link">Контакты</a>
            <p class="dim">Кликните и узнайте больше о наших преподавателях</p>
        </div>
        <div class="gallery-cont more-block">
            <a href="{% url 'gallery' %}" class="more-block__link">Галерея</a>
            <p class="dim">Интересно посмотреть нашу галерею изображений?</p>
        </div>
        <div class="actions-cont more-block">
            <a href="{% url 'actions' %}" class="more-block__link">Мероприятия</a>
            <p class="dim">Что происходит в студии? Посмотри...</p>
        </div>
    </div>
    <div class="social-networks cont">
        <a href="https://vk.com/publicetopravda" class="vk link" target="_blank"><i class="fab fa-vk"></i></a>
        <a href="https://www.tiktok.com/@pravdachelstudio777" class="tk link" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/etopravdachelyabinsk7777/" class="ig link" target="_blank"><i class="fab fa-instagram"></i></a>
        <!-- <div class="social ggl"></div> -->
    </div>
    <div class="copyright cont">
        <p><strong>2022</strong> Студия творческого развития "Это Правда"</p>
    </div>
</div>
{% endblock %}