{% extends 'news/index.html' %}
{% load static %}
{% block title %}{{ data.title }}{% endblock %}
{% block content %}
<link href="{% static 'news/post.css' %}" rel="stylesheet"/>
<div class="page_content">
    <div class="wrapper">
        <div class="container">
            <div class="button">
                <h3 class="mt-5 mb-5"><a href="{% url 'all_news' %}" class="back">Новости</a></h3>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <section class="content">
            <div class="post">
                <div class="image_wrapper">
                    <a href="{{ data.preview_image.url }}" data-fancybox="single">
                        <img src="{{ data.preview_image.url }}" class="head_image">
                    </a>
                </div>
                <div class="text_wrapper">
                    {{ data.text|safe }}
                </div>
                <div class="addition_images_wrapper">
                    {% for img in images %}
                        {% if img.image.name != '' %}
                            <div class="image_wrapper">
                                <a href="{{ img.image.url }}" data-fancybox="gallery">
                                    <img src="{{ img.image.url }}" alt="" class="head_image">
                                </a>
                            </div>
                        {% else %}
                            <div class="video_wrapper">
                                <iframe width="720" height="480" src="{{ img.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                        <p>{{ img.text_under|safe }}</p>
                    {% endfor %}
                </div>
                <div class="info_after">
                    <span class="date">{{ data.pubdate }}</span>
                    <span class="sep">|</span>
                    <a href="#">Благотворительность,</a>
                    <a href="{% url 'all_news' %}">Новости,</a>
                    <a href="#">{{ data.studio_name }}</a>
                    <span class="sep">|</span>
                    <a href="#" class="add_comm">Комментарии</a>
                </div>
                <div class="share">
                    <h3>Поделитесь ссылкой</h3>
                    <div class="social_networks">
                        <a href="#"><div class="fb"><i class="fab fa-facebook-f"></i></div></a>
                        <a href="#"><div class="twitter"><i class="fab fa-twitter"></i></div></a>
                        <a href="#"><div class="google"><i class="fab fa-google-plus-g"></i></div></a>
                        <a href="#"><div class="vk"><i class="fab fa-vk"></i></div></a>
                    </div>
                </div>
                <div class="form-comment-wrapper">
                    <h2>Оставить комментарий к посту</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.author }}
                        {{ form.text }}
                        {{ form.author_email }}
                        {{ form.site }}
                        <button type="submit" class="btn button-conf">Отправить</button>
                    </form>
                </div>
            </div>
        </section>

<!-- Menu right -->

        <aside class="search">
            <div class="search_wrapper">

            </div>
            <div class="pubs_wrapper">

                <h4>Последние публикации</h4>
                
                <ul class="list_of_pubs">
                    {% for pub in last_pubs %}
                    <a href="post_{{ pub.1 }}" class="pub_link">
                        <li><span>{{ pub.0 }}</span></li>
                    </a>
                    {% endfor %}
                </ul>

            </div>
            <div class="comments_wrapper">
                {% if comments|length == 0 %}
                    <h5>Пока нет комментариев...</h5>
                {% else %}
                    <h3>Комментарии</h3>
                    {% for comment in comments %}
                        <div class="comment_wrapper">
                            <div class="comment">
                                <div class="name_wrapper">
                                    <span class="marker"><i class="fas fa-comment-alt comment_icon"></i></span>
                                    <p class="author_plus_date"><span class="username">{{ comment.author }}</span><span class="comment_date">{{ comment.pubdate }}</span></p>
                                </div>
                                <div class="text-wrapper">
                                    <div class="comment_text">{{ comment.text|safe }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="{% url 'all_news' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                  <i class="bi bi-window-sidebar" width="40" height="32"><use xlink:href="#bootstrap"></use></i>
                  <span class="fs-4">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                      Orders
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                      Products
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                      Customers
                    </a>
                  </li>
                </ul>
                <hr>
              </div> -->
        </aside>
    </div>
</div>
{% endblock %}