{% extends 'news/index.html' %}
{% load static %}
{% block title %}{{ data.title }}{% endblock %}
{% block content %}
<link href="{% static 'news/post.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'category/page-bar.css' %}">

<div class="page-title">
    <div class="title-row wrapper">
        <div class="sum-wrapper">
            <h1 class="title-text display-4">{{ data.title }}</h1>
        </div>
        <div class="nav-wrapper">
            <a href="{% url 'main_page' %}"><span class="main-page-link">Главная</span></a>
            <span class="sep">–</span>
            <a href="{% url 'all_news' %}"><span>Новости</span></a>
            <span class="sep">–</span>
            <span class="current-page underlined">{{ data.title }}</span>
        </div>
    </div>
</div>
<div class="page_content">
    <div class="wrapper">
        <section class="content">
            <div class="post">
                <div class="image_wrapper">
                    <a href="{{ data.preview_image.url }}" data-fancybox="single">
                        <img src="{{ data.preview_image.url }}" class="head_image">
                    </a>
                </div>
                <div class="text_wrapper">
                    {{ data.text|safe }}
                </div>
                <div class="addition_images_wrapper">
                    {% for img in images %}
                        {% if img.image.name != '' %}
                            <div class="image_wrapper">
                                <a href="{{ img.image.url }}" data-fancybox="gallery">
                                    <img src="{{ img.image.url }}" alt="" class="head_image">
                                </a>
                            </div>
                        {% else %}
                            <div class="video_wrapper">
                                <iframe width="720" height="480" src="{{ img.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                        <p>{{ img.text_under|safe }}</p>
                    {% endfor %}
                </div>
                <div class="info_after" id="write-comment">
                    <span class="date">{{ data.pubdate }}</span>
                    <span class="sep">|</span>
                    <a href="{% url 'all_news' %}">Новости,</a>
                    <span>{{ data.studio_name }}</span>
                    <span class="sep">|</span>
                    <a href="#write-comment" class="add_comm">Комментарии</a>
                    {% if data.was_published_recently %}
                        <span class="sep">|</span>
                        <span class="very-new-post">Свежая!</span>
                    {% endif %}
                </div>
                <div class="share">
                    <h3>Поделитесь в соц. сетях:</h3>
                    <div class="social_networks">
                        <a href="{{ studio.instagram_link }}" target="_blank"><div class="instagram"><i class="fab fa-instagram"></i></div></a>
                        <a href="{{ studio.tiktok_link }}" target="_blank"><div class="tik-tok"><i class="fab fa-tiktok"></i></div></a>
                        <a href="{{ links.twitter }}" target="_blank"><div class="twitter"><i class="fab fa-twitter"></i></div></a>
                        <a href="{{ links.vk }}" target="_blank"><div class="vk"><i class="fab fa-vk"></i></div></a>
                        <!-- <div class="ya-share2" data-services="vkontakte,twitter,facebook,messenger"></div> -->
                    </div>
                </div>
                <div class="form-comment-wrapper">
                    <h2>Оставить комментарий к посту</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.author }}
                        {{ form.text }}
                        {{ form.author_email }}
                        {{ form.site }}
                        <button type="submit" class="btn button-conf">Отправить</button>
                    </form>
                </div>
            </div>
        </section>

<!-- Menu right -->

        <aside class="search">
            <div class="pubs_wrapper">

                <h4>Последние публикации</h4>
                
                <ul class="list_of_pubs">
                    {% for pub in last_pubs %}
                    <a href="{% url 'one_post' pub.1 %}" class="pub_link">
                        <li><span>{{ pub.0 }}</span></li>
                    </a>
                    {% endfor %}
                </ul>

            </div>
            <div class="comments_wrapper">
                <h4>Комментарии</h4>
                <div id="all-comments-count" hidden>{{ comments_count }}</div>
                {% if comments|length == 0 %}
                    <h5>Пока нет комментариев...</h5>
                {% else %}
                    <!-- with bootstrap -->
                    {% for comment in comments %}
                        <div class="comment-container alert alert-warning">
                            <p class="author">{{ comment.author|truncatechars:15 }}</p>
                            <div class="text">{{ comment.text|safe }}</div>
                            <p class="date">{{ comment.pubdate|date:'j.m.Y' }}</p>
                        </div>
                    {% endfor %}
                    <!-- ______________ -->
                {% endif %}
            </div>
        </aside>

    </div>
</div>
{% endblock %}