h1 {
    text-align: center;
    margin-bottom: 25px;
}
.row {
    background-color: #dcdcdc;
    margin: 35px auto 50px auto;
    border-radius: 15px;
    padding: 50px 30px;
    display: block;
}

/* COLORS */
.my-colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.color {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.color p {
    padding: 2px;
    background-color: #dcdcdc;
    color: #333333;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    border-radius: 3px;
}
/* END */


/* FONTS */

.fonts {
    padding: 30px;
}
.font {
    margin-bottom: 120px;
    width: 100%;
}
.font .font-example {
    font-family: 'Times New Roman';
    font-size: 32px;
    font-weight: 500;
}
.font .font-name {
    padding-left: 20px;
    margin-left: 30%;
    position: relative;
    font-size: 24px;
}
.font .font-name span {
    color: green;
}

/* END */

/* TESTS */
/* .test {
    background-color: #fff;
}

.passport-icon {
    width: auto;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    position: relative;
}
.detector-wrapper {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10px;
    right: 44%;
}
.detector {
    width: 50px;
    height: 50px;
    background-color: rgba(135, 207, 235, 0.1);
    border: 5px solid #353535;
    border-radius: 50%;
}
.stick {
    width: 40px;
    height: 7px;
    border-radius: 5px;
    transform: rotate(39deg);
    background-color: #353535;
    position: absolute;
    bottom: -10px;
    right: 42%;
} */
/* END */
