/* Basic styles block */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.contacts-wrapper {
    min-height: 100vh;
    padding: 40px 0;
}
/* endblock */

/* Title styles block*/
.page-title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 300px;
    border-bottom: 3px double #6d6d6d4d;
    background-color: #1b1b1b;
}
.title-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.sum-wrapper h1 {
    font-size: 40px;
    color: #cbcbcb;
    text-align: center;
}
.nav-wrapper span {
    color: #7a7a7a;
    transition: .1s linear all;
}
.nav-wrapper a span:hover {
    color: #cbcbcb80;
}
.nav-wrapper a {
    text-decoration: none;
}
.nav-wrapper a span {
    color: #cbcbcb;
}
.sep {
    padding: 0px 3px;
}
/* endblock */


/* Styles for cards of teachers */

.cards-wrapper {
    width: 100%;
    background: #f1f1f1;
    padding: 50px 3%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    margin-bottom: 40px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.teacher-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 7px 7px 0 0;
    /* border: none; */
}
.avatar-wrapper {
    width: 100%;
    flex: 1;
}
.avatar-wrapper a {
    width: 100%;
    height: 100%;
}
.avatar-wrapper img {
    width: 100%;
    height: 350px;
    border-radius: 7px 7px 0 0;
    object-fit: cover;
    object-position: center;
}

/* containers with text inforantion */
.info-wrapper {
    flex: 1;
    color: #dcdcdc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-wrapper p {
    font-family: 'Montserrat', 'sans-serif';
}
.info-wrapper .name-wrapper p {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    line-height: 1em;
}
.info-wrapper .status-wrapper p {
    font-size: 12px;
    margin: 5px 0 0 0;
}
.info-wrapper .description {
    width: 100%;
    padding: 15px 0 0 0;
    overflow: hidden;
}
.info-wrapper .description p {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 14px;
    margin: 0;
}
.card-wrapper .how_to_call {
    font-size: 14px;
    color: white;
    padding: 10px 15px;
    background: #333333;
    border-radius: 0 0 7px 7px;
    border-top: 3px double #6d6d6d4d;
}
.card-wrapper .how_to_call p {
    font-size: 12px;
    margin: 0;
}
.how_to_call > div {
    display: flex;
    align-items: center;
}

/* Map Stylng */

.map-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 3%;
    background-color: #f1f1f1;
    border-radius: 15px;
}
.map {
    box-shadow: 0 0 20px #33333380;
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map iframe {
    width: 100%;
}
.map__meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2% 0 0;
    margin-left: 4%;
}
.meta__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.meta__block:first-child {
    margin-bottom: 36px;
}
.meta__title {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    margin-bottom: 0;
}
.meta__title h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 0;
}
.meta__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 50%;
    margin-right: .3em;
}

.meta__description {
    font-size: 14px;
    color: #353535;
    margin-left: calc(60px + 1em) !important;
}
.meta__content {
    margin-bottom: 4px;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
}
.meta__description, .meta__content {
    margin-left: calc(60px + 0.7em);
}


/* End map styling */


/* styling button */
.send_letter {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.letter_redirect {
    background-color: #ba2b18;
    box-shadow: 0px 7px 0px #ba2b1880;
    color: #dcdcdc;
    border-radius: 100px;
    padding: 10px 1em;
    margin: 0px auto;
    margin-top: 10px;
    transition: .2s linear all;
    font-size: 28px;
    position: relative;
    top: 0;
}
.letter_redirect:hover {
    box-shadow: 0px 3px 0px #ba2b1880;
    color: #dcdcdc;
    text-decoration: none;
    top: 4px;
}

/* alternative */

.alternative-block {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.alternative-block strong {
    font-size: 20px;
}
/* end add... */

@media (max-width: 1000px) {
    .cards-wrapper {
        padding: 24px 10%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 769px) {
    /* .cards_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
    } */
    .contacts-wrapper {
        padding: 0;
    }
    .cards-wrapper {
        padding: 24px 5%;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr;
        border-radius: 0;
        margin: 0;
    }
    .cards_wrapper .card_wrapper {
        background-color: #313131;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-basis: 30%;
        flex-direction: column;
        border-radius: 0px 0px 7px 7px;
        border: none;
    }

    .send_letter {
        padding: 16px 0;
    }

    .map-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 24px 16px;
        background-color: #f1f1f1;
        border-radius: 0;
    }
    .map {
        margin-bottom: 24px;
        height: 100%;
    }
    .map iframe {
        width: 100%;
        height: 500px;
    }
    .map__meta {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .meta__block:first-child {
        margin-bottom: 24px;
    }
    .meta__title {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .meta__title, .meta__content {
        align-self: center;
    }
    .meta__icon {
        width: 45px;
        height: 45px;
    }
    .meta__content, .meta__description {
        margin: 0 0 8px 0 !important;
        padding: 0;
    }
}

@media (max-width: 600px) {
    .contacts-wrapper {
        min-height: 10vh;
    }
    .cards-wrapper {
        padding: 24px 10%;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        border-radius: 0;
        margin: 0;
    }
    .map-wrapper {
        padding: 16px 8px;
    }
    .meta__title h1 {
        font-size: 26px;
        text-align: center;
    }
    .map {
        height: 100%;
    }
    .map iframe {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 376px) {
    .cards-wrapper {
        padding: 12px 7%;
    }
}