.contacts_wrapper, .link_wrapper {
    background: white;
    max-width: 1100px;
    margin: 0px auto;
    height: auto;
}
.link_wrapper {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.contacts_wrapper {
    min-height: 100vh;
}
.contacts_wrapper .title_wrapper {
    width: 100%;
    padding: 3em 0;
}
.title_wrapper h1 {
    text-align: center;
}
.link_wrapper h3 a {
    margin: 0 auto;
}


/* Styles for cards of teachers */

@media (min-width: 500px) {
    .cards_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 10px;
    }
    .cards_wrapper .card_wrapper {
        background-color: #313131;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-basis: 30%;
        flex-direction: column;
        border-radius: 0px 0px 7px 7px;
        border: none;
    }
}


.card_wrapper .avatar_wrapper {
    width: 100%;
    padding: 0px 0px 100% 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card {
    background-color: #313131;
    border: none;
}
.avatar_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* containers with text inforantion */
.info_wrapper {
    margin-top: 20px;
    color: white;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_wrapper .name_wrapper p {
    font-weight: 600;
    margin: 0;
    line-height: 1em;
}
.info_wrapper .status_wrapper p {
    font-size: 13px;
    margin: 0;
}
.info_wrapper .description {
    /* margin-top: 20px;
    margin-left: 7px;
    margin-bottom: 15px; */
    margin: 20px 5px 15px 7px;
}
.info_wrapper .description p {
    font-size: 14px;
    margin-bottom: 1em;
    line-height: 1.1em;
}
.card_wrapper .how_to_call {
    width: 100%;
    font-size: 14px;
    color: white;
    padding-left: 10px;
    margin-bottom: 3px;
}
.card_wrapper .how_to_call p {
    font-size: 12px;
    margin-bottom: 2px;
}
.how_to_call > div {
    display: flex;
    align-items: center;
}

/* styling button */
.send_letter {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.letter_redirect {
    background-color: rgb(109, 190, 179);
    box-shadow: 0px 7px 0px rgb(54, 93, 88);
    color: rgb(27, 27, 27);
    border-radius: 100px;
    padding: 10px 1em;
    margin: 0px auto;
    margin-top: 10px;
    transition: .2s linear all;
    font-size: 28px;
}
.letter_redirect:hover {
    box-shadow: 0px 2px 0px rgb(54, 93, 88);
    color: #ba2b18;
    text-decoration: none;
}
.letter_redirect:hover {
    margin-top: 15px;
}