.l_wrapper {
    background-color: #fff;
    min-height: 100vh;
    padding-top: 50px;
}
.l_wrapper h2 {
    text-align: center;
}

.letter_wrapper {
    width: 50%;
    margin: 50px auto;
}
.letter_wrapper form {
    display: flex;
    flex-direction: column;
}