h1, h2 {
    text-align: center !important;
}
.display-3, .display-4 {
    width: 100%;
    text-align: center !important;
}
p.text-justify {
    margin-bottom: 15px;
    text-align: justify;
}


.container {
    min-height: 100vh;
    width: 1100px;
}

.row {
    width: 100%;
    height: auto;
    padding: 30px 70px 50px 70px;
    box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.5),
                0px -5px 10px -5px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    background: #fff;
}
#first {
    padding-top: 50px;
}

/* Working with images............ */
.image_wrapper {
    width: 100%;
    display: block;
}
.image_wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    opacity: .95;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}


/* Deviz blocks */
.deviz_title {
    font-weight: bolder;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(47, 34, 34, 0.6);
    font-family: 'Oswald' !important;
}
.deviz_block {
    width: 80%;
    margin: 0 auto;
    border-top:    2px solid rgb(63, 63, 63);
    border-bottom: 2px solid rgb(63, 63, 63);
    padding: 10px 0;
}
.deviz_block p {
    margin: 20px auto;
    text-align: center;
    font-size: 26px;
    font-style: oblique;
    line-height: 30px;
    font-weight: 500;
    /* text-shadow: 2px 2px 0px #81111180; */
    transition: .2s linear;
    font-family: 'Tenor Sans', sans-serif;
    width: 60%;
}
.deviz_block:hover p {
    text-shadow: 2px 1.5px 15px rgba(0, 0, 0, 0.6);
    color: black;
}



/* About blocks */
.about_block .about-title {
    font-family: 'Oswald', sans-serif !important;
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 50px;
}
.about-list {
    width: 80%;
    margin: 0 auto;
}
.about-list .list-group-item {
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
.about-list-text {
    font-size: 20px;
}



/* Block about OPERENIE */
.operenie-block {
    width: 100%;
}
.operenie-block .image-block {
    max-width: 70%;
    margin: 0 auto;
}
/* End Block */


.grid-about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
.grid-about-wrapper .card-block {
    display: grid;
    grid-template-rows: 3fr 4fr;
    align-items: stretch;
}
.grid-about-wrapper .text-block {
    position: relative;
    padding: 25px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 7px;
    /* background-color: rgb(207, 207, 207); */
    text-align: justify;
}

.grid-about-wrapper .icon-block {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-block {
    font-size: 65px;
}
.chrity-block .icon-block {
    color: green;
}
.people-block .icon-block {
    color: rgb(73, 73, 172);
}

/* appearing by clicking */

.after_click {
    display: none;
    padding: 13px;
    border-radius: 7px;
    background-color: rgba(87, 87, 87, 0.9);
    color: #f6f6f6;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 30%;
    text-align: justify;
}
.after_click p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.close {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    /* background: #fff; */
    position: absolute;
    top: -10px;
    right: -17px;
    opacity: .9;
}
.close::after, .close::before {
    content: '';
    position: absolute;
    background: darkred;
    width: 15px;
    height: 2px;
    top: 0;
    right: 0;
    opacity: 1;
}
.close::after {
    transform: rotate(-45deg);
} 
.close::before {
    transform: rotate(45deg);
}

.activator {
    color:darkred !important;
    cursor: pointer;
}


/* Charter */
.charter-block {
    width: 100%;
}
.cont {
    margin: 0 10px;
    margin-top: 25px;
    padding: 40px 30px 30px 30px;
    background-color: wheat;
    color: #2e2e2e;
    box-shadow: 12px 14px 0px rgb(124, 113, 91);
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    border-bottom-right-radius: 25px;
}
.cont:hover {
    box-shadow: 17px 20px 5px rgb(155, 141, 114),
                17px 20px 20px rgb(216, 197, 160);
    margin-top: 20px;
    margin-left: 4px;
}
.charter-block .charter-text {
    margin-top: 50px;
    padding: 0;
    margin: 0 5%;
}
.charter-text h2 {
    font-family: 'Corinthia' !important;
}

.charter-text .charter-list {
    list-style: ' – ';
    margin-top: 20px;
    padding: 0;
}
.charter-list li p {
    font-size: 22px;
    font-family: 'Lobster' !important;
}
.charter-list .end {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Lobster' !important;
}


/* Media requests */

@media screen and (max-width: 769px) {
    .container {
        width: 100%;
        padding: 0;
    }

    #first {
        padding: 0;
    }
    .row {
        margin-bottom: 0;
        padding: 15px 3% 20px 3%;
    }

    .grid-about-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1em;
    }

    .deviz_title {
        font-weight: bold;
        margin-bottom: 15px;
        text-shadow: 2px 2px 4px rgba(47, 34, 34, 0.6);
        font-family: 'Oswald' !important;
    }
    .deviz_block {
        width: 100%;
        margin: 0 2%;
        border-top:    2px solid rgb(63, 63, 63);
        border-bottom: 2px solid rgb(63, 63, 63);
        padding: 0;
    }
    .deviz_block p {
        margin: 15px auto;
        text-align: center;
        font-size: 20px;
        font-style: oblique;
        line-height: 25px;
        font-weight: 500;
        /* text-shadow: 2px 2px 0px #81111180; */
        transition: .2s linear;
        font-family: 'Tenor Sans', sans-serif;
        width: 100%;
    }
    .deviz_block:hover p {
        text-shadow: 2px 1.5px 10px rgba(0, 0, 0, 0.6);
        color: black;
    }

    .operenie-block .image-block {
        max-width: 100%;
        margin: 0 auto;
    }
}