a {
    text-decoration: none !important;
}

.container {
    min-height: 100vh;
    background-color: #f1f1f1;
    max-width: 1100px;
    padding: 0;
    padding-top: 30px;
}

.row {
    margin-bottom: 6vh;
    margin-left: 0;
    margin-right: 0;
}
.block {
    box-shadow: 0px 12px 10px -7px rgba(0, 0, 0, 0.5),
                0px -8px 10px -7px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 20px 0;
}

.actions_wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: #d8d8d8;
}

/* Title styles block*/
.page-title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 300px;
    border-bottom: 3px double #6d6d6d4d;
    background-color: #1b1b1b;
}
.title-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.sum-wrapper h1 {
    font-size: 40px;
    color: #cbcbcb;
}
.nav-wrapper span {
    color: #7a7a7a;
    transition: .1s linear all;
}
.nav-wrapper a span:hover {
    color: #cbcbcb80;
}
.nav-wrapper a {
    text-decoration: none;
}
.nav-wrapper a span {
    color: #cbcbcb;
}
.sep {
    padding: 0px 3px;
}
/* endblock */

/* work with image */
.image_block {
    position: relative;
    width: 100%;
    max-height: 45%;
}
.image_block .hoverer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .4s ease-in-out all;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: transparent;
    font-size: 2em;
}
.image_block .hoverer span {
    transition: .4s ease-in-out background;
    padding: 5px 10px;
    border-radius: 10px;
}
.image_block .image_container {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.image_container:hover {
    opacity: .5;
    cursor: pointer;
}
.image_block:hover .hoverer {
    background-color: rgba(127, 255, 212, 0.4);
    color: rgb(63, 63, 63);
    cursor: pointer;
}
.hoverer:hover span {
    background-color: rgba(255, 255, 255, 0.7);
}

.image_block .image_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.data_block {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.data_block .action_title, .links a {
    color:rgb(60, 60, 60);
    transition: .2s linear;
}
.data_block .action_title:hover, .links a:hover {
    color:grey;
}
.data_block .action_title h4 {
    font-size: 20px;
    letter-spacing: .1em;
    margin-bottom: 20px;
}

.data_block .description_block {
    text-align: justify;
    margin-bottom: 20px;
}
.description_block p {
    font-size: 16px;
}

.data_block .meta_container {
    display: flex;
    flex-direction: column;
}

.meta_container .meta_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 12px;
    margin-bottom: 7px;
}
.meta_block .links a {
    font-size: 14px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}

.data_block .navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
}
.navigation a.read_more {
    font-size: 16px;
    color: #131313;
}
a.read_more:hover {
    color: #5a5a5a;
}
.fa-comment {
    font-size: 12px;
}


/* Addition classes */

/* alternative */

.write-link {
    color: #4d4d4d;
    text-decoration: none;
}
.write-link:hover {
    color: #292929;
}
.alternative-block {
    width: 70%;
    margin: 0 auto;
}
.alternative-block strong {
    font-size: 20px;
}
/* end add... */

@media (max-width: 376px) {
    .container {
        min-height: 10vh;
        padding: 16px 2%;
        
    }

}