/* Common styles */

a {
    color: #ba2b18;
    transition: .15s linear all;
}
a:hover {
    color: #ea6e5e;
    text-decoration: none;
}

/* get back button */

.get_back__link {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 25px;
    width: 45px;
    height: 45px;
    background-color: #f1f1f1;
    border-radius: 50%;
    border: 5px solid #E79358;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E79358;
    font-size: 28px;
}
.get_back__link:hover {
    border-color: #ea6e5e;
}
/* end */

/* End */

/* block title */

/* .page-title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 300px;
    background-image: linear-gradient(180deg, transparent 0%, #f5daeb 100%);
    box-shadow: 0 5px 15px #00000050;
    color: #1f1f1f;
}
.title-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.sum-wrapper h1 {
    font-size: 40px;
    text-align: center;
}

.title-row .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav-wrapper span {
    transition: .1s linear all;
    font-weight:bold;
}
.nav-wrapper a span:hover {
    color: #3d3d3d;
}
.nav-wrapper a {
    text-decoration: none;
}
.nav-wrapper a span {
    color: #1f1f1f;
}
.current-page {
    color: #1f1f1fb1;
    font-weight: lighter !important;
}
.sep {
    padding: 0px 3px;
} */
/* endblock title */




.container {
    margin-top: 0;
    padding: 0;
    max-width: 1200px;
}
.block {
    width: 100%;
    height: auto;
    background-color: #dcdcdc;
    border-radius: 15px;
    padding: 50px 7%;
    margin: 30px 0;
    display: block;
}
.image-block {
    max-width: 100%;
    height: 100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.image-block img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 5px 20px #777;
}

.title-block {
    width: 100%;
}
.title-block h1 {
    color: #333;
    text-align: center !important;
    margin: 0;
}

.date-block {
    width: 100%;
    font-size: 22px;
    margin-bottom: 50px;
}
.date-block > div {
    text-align: center;
}
.date-block .time {
    color: #CF4FA3;
}
.date-block .date {
    color: #57aae3;
}

.main_text-block {
    margin: 30px 0;
    color: #333;
}
.main_text-block p {
    text-align: justify;
    margin: 0;
    padding-bottom: 15px;
}
.main_text-block p, .main_text-block ul {
    font-size: 22px;
}
.main_text-block h1, 
.main_text-block h2, 
.main_text-block h3, 
.main_text-block h4, 
.main_text-block h5, 
.main_text-block h6 {
    margin: 20px 0 15px 0;
}



/* Media reqs */
@media screen and (max-width: 1000px) {
    .get_back__link {
        display: none;
    } 
}

@media screen and (max-width: 769px) {
    .block {
        width: 100%;
        height: auto;
        border-radius: 0;
        padding: 30px 20px;
        padding-top: 40px !important;
        margin: 0;
    }
    .image-block {
        margin-bottom: 30px;
    }
    .title-block h1 {
        font-size: 68px;
    }
    .date-block {
        font-size: 20px;
    }
    .main_text-block p, .main_text-block ul {
        font-size: 22px;
    }
}


@media screen and (max-width: 450px) {
    .block {
        border-radius: 0;
        padding: 0 !important;
    }
    .image-block {
        margin-bottom: 25px;
    }
    .image-block img {
        border-radius: 0;
    }
    .title-block {
        width: 100%;
    }
    .title-block h1 {
        font-size: 48px;
        padding: 0 2px;
    }
    .date-block {
        font-size: 18px;
    }
    .main_text-block {
        padding: 0 12px;
    }
}

/* End media */