a {
    text-decoration: none !important;
}

.container {
    min-height: 50vh;
    padding: 0;
}
.block {
    width: 100%;
    /* background-color: #f1f1f1; */
    background-color: #f5daeb;
    border-radius: 15px;
    padding: 50px;
    margin: 30px 0;
}



/* Title styles block*/
.page-title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 300px;
    border-bottom: 3px double #6d6d6d4d;
    background-color: #1b1b1b;
}
.title-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.sum-wrapper h1 {
    font-size: 40px;
    color: #cbcbcb;
}
.nav-wrapper span {
    color: #7a7a7a;
    transition: .1s linear all;
}
.nav-wrapper a span:hover {
    color: #cbcbcb80;
}
.nav-wrapper a {
    text-decoration: none;
}
.nav-wrapper a span {
    color: #cbcbcb;
}
.sep {
    padding: 0px 3px;
}
/* endblock */




.actions_wrapper {
    width: 100%;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


/* work with image */
/* .image_block {
    position: relative;
    width: 100%;
    max-height: 45%;
}
.image_block .hoverer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .4s ease-in-out all;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: transparent;
    font-size: 2em;
}
.image_block .hoverer span {
    transition: .4s ease-in-out background;
    padding: 5px 10px;
    border-radius: 10px;
}
.image_block .image_container {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.image_container:hover {
    opacity: .5;
    cursor: pointer;
}
.image_block:hover .hoverer {
    background-color: rgba(127, 255, 212, 0.4);
    color: rgb(63, 63, 63);
    cursor: pointer;
}
.hoverer:hover span {
    background-color: rgba(255, 255, 255, 0.7);
}

.image_block .image_container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */
/* ENDBLOCK */


.data_block {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.data_block > div {
    margin-bottom: 10px;
}
.action_title {
    font-size: 38px;
    font-weight: bold;
}
.action_title a {
    color: #E35764;
}
.data_block .date-block {
    font-size: 22px;
}
.date-block .date {
    color: #E79458
}
.date-block .time {
    color: #CF4FA3;
}
.data_block .description_block {
    text-align: justify;
}
.description_block p {
    font-size: 22px;
    margin: 0;
}

/* .meta_container .meta_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end !important;
    font-size: 12px;
    margin-bottom: 5px;
}
.meta_block .meta__link a {
    font-size: 14px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
.meta_block .meta__link {
    align-self: flex-end;
    margin: 0;
} */





/* Addition classes */

/* Alternative */

.write-link {
    color: #4d4d4d;
    text-decoration: none;
}
.write-link:hover {
    color: #292929;
}
.alternative-block {
    width: 70%;
    margin: 0 auto;
}
.alternative-block strong {
    font-size: 20px;
}
/* end add... */


/* Media reqs */
@media screen and (max-width: 769px) {
    .container {
        width: 100%;
        margin: 0;
        max-width: 769px;
    }
    .block {
        border-radius: 0;
        padding: 18px;
        margin: 0;
    }
    .action_title {
        font-size: 32px;
        margin: 0 !important;
    }
    .data_block .date-block {
        font-size: 18px;
        margin: 0;
    }
    .description_block p {
        font-size: 20px;
        margin: 0;
    }
}

@media screen and (max-width: 376px) {
    .container {
        min-height: 10vh;
    }
    .block {
        padding: 12px;
    }
    .action_title {
        font-size: 26px;
    }
}
/* End media */