{% extends 'news/index.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'category/contacts.css' %}">
<link rel="stylesheet" href="{% static 'category/page-bar.css' %}">

<!-- title part -->
<div class="page-title">
    <div class="title-row wrapper">
        <div class="sum-wrapper">
            <h1 class="title-text display-4">Наши преподаватели</h1>
        </div>
        <div class="nav-wrapper">
            <a href="/category"><span class="main-page-link">Главная</span></a>
            <span class="sep">–</span>
            <span class="current-page">Контакты</span>
        </div>
    </div>
</div>
<!-- end title part -->

<!-- main part with contacts -->
<div class="wrapper contacts-wrapper">
    <div class="cards-wrapper">
        {% if teachers %}
            {% for teacher in teachers %}

                <div class="card-wrapper">
                    <div class="teacher-card">
                        {% if not not teacher.photo %}
                            <div class="avatar-wrapper">
                                <a href="{{ teacher.photo.url }}" data-fancybox="single">
                                    <img src="{{ teacher.photo.url }}" alt="Здесь должно быть фото преподавателя">
                                </a>
                            </div>
                        {% else %}
                            <div class="avatar-wrapper"><img src="../../../../../media/avatar_placeholder.png" alt=""></div>
                        {% endif %}
                        <div class="info-wrapper">
                            
                            <div class="name-wrapper"><p>{{ teacher.last_name }} {{ teacher.name }} {{ teacher.father_name }}</p></div>
                            <div class="status-wrapper"><p>{{ teacher.status }}</p></div>
                            <div class="description"><em>{{ teacher.description|safe }}</em></div>

                        </div>
                    </div>

                    <div class="how_to_call">
                        <div class="email"><p><b>Mail: </b>{{ teacher.email }}</p></div>
                        <div class="telephone"><p><b>Phone: </b>{{ teacher.phone_number }}</p></div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <div class="alternative-block">
                <div class="alert alert-light" role="alert">
                    <strong>Упс... </strong> Ни одного мероприятия пока нет, 
                    подождите пока их добавят.
                </div>
            </div>
        {% endif %}
    </div>

    <div class="map-wrapper">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.9115806050513!2d61.38204531617275!3d55.149825980396386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592a4e663e9a9%3A0x5b13ecd8b7f36057!2z0YPQuy4g0JLQvtGA0L7QstGB0LrQvtCz0L4sIDM20JAsINCn0LXQu9GP0LHQuNC90YHQuiwg0KfQtdC70Y_QsdC40L3RgdC60LDRjyDQvtCx0LsuLCA0NTQwMjA!5e0!3m2!1sru!2sru!4v1642948931939!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="map__meta">
            <div class="meta__phone meta__block">
                <div class="meta__title">
                    <div class="phone__icon meta__icon"><i class="fas fa-phone"></i></div>
                    <h1>Контактный телефон</h1>
                </div>
                <div class="phone-number meta__content">{{ studio.phone_number }}</div>
                <div class="meta__description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga doloremque aliquid sit.
                </div>
            </div>
            <div class="meta__address meta__block">
                <div class="meta__title">
                    <div class="address__icon meta__icon"><i class="fas fa-map-marker-alt"></i></div>
                    <h1>Где мы находимся</h1>
                </div>
                <div class="adress-place meta__content">{{ studio.address }}</div>
                <div class="meta__description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae blanditiis delectus vitae!
                </div>
            </div>
        </div>
    </div>
    <div class="send_letter">
        <a href="{% url 'send_letter' %}" class="letter_redirect">Отправить письмо</a>
    </div>
</div>
<!-- end main part -->

{% endblock %}
