{% extends 'news/index.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'category/main.css' %}">

    <div class="container">


        <div class="row" id="first">
            <div class="image_wrapper">
                <img src="../../../../../media/logo.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <h1 class="display-3 deviz_title">Наш девиз</h1>
            
            <div class="deviz_block">
                <p>Мы имеем крепкие нервы!</p>
                <p>У нас здоровое чувство юмора!</p>
                <p>Мы— идеалисты, романтики</p>
                <p>Мы свободу, но не распущенность!</p>
                <p>Верим, что душа бессмертна</p>
                <p>Верим, что нет хороших и плохих людей, есть просто разные группы крови</p>
                <p>Мы постоянно учимся дышать полной грудью и любить этот мир!</p>
                <p>Мы за творчество!</p>
            </div>
        </div>

        <!-- <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen=""></iframe>
            </div>
        </div>
                                    Для добавления видео с YouTube-->
        
        <div class="row about_block">
            <h1 class="display-4 about-title">Немного о нас</h1>
            <p class="text-justify">
                Основана <span class="font-weight-bold">К.Ю.ХАБЕНСКИМ В 2015 ГОДУ</span>, в ней занимается каждый год около 
                <span class="font-weight-bold">300 детей в возрасте от 8 до 17 лет.</span>
                Студийцы — лауреаты премии Андрюша, фестиваля 10 добрых дел, Сцена 2018 и ряда других.
            </p>

            <p class="text-justify">
                <font class="about-list-text">Всё время своего существования студия Хабенского расширялась и принимала участие в таких проектах как:</font>
                <ul class="list-group about-list">
                    <li class="list-group-item">Фестиваль РГО ( русское географическое общество) на сцене Центрального Дома Художника г. Москва</li>
                    <li class="list-group-item">Показ спектаклей в театре Калягина г.Москва</li>
                    <li class="list-group-item">Культовый музыкальный благотворительный спектакль «Поколение Маугли» на сцене 
                        Московского Кремлевского дворца - Челябинская Студия сыграла 9 спектаклей, 
                        участвовало более 100 студийцев, главные роли исполняли : Константин Хабенский, 
                        Диана Арбенина,Тимур Родригез, Алексей Кортнев.</li>
                    <li class="list-group-item">Участие в благотворительных постановках : 
                        «Сердце нараспашку», «Гамлет», «Тот самый М…».</li>
                    <li class="list-group-item">Благотворительный забег в помощь детей-бабочек от фонда</li>
                    <li class="list-group-item">Всероссийский фестиваль «Оперение» в городе Сочи дом отдыха «Дагомыс»</li>
                    <li class="list-group-item">Фестиваль в городе Санкт-Петербург с показом спектакля «Не покидай свою планету» 
                        на Дворцовой площади( на сцене со студийцами играли Хабенский, Тимур Родригез, 
                        принимал участие Андрей Ургант и Родион Газманов)</li>
                    <li class="list-group-item">Во время всеобщей пандемии провели Онлайн-фестиваль 
                        «ОперениеON» Фестиваль поддержали друзья движения – Константин Хабенский, Михаил Пореченков, 
                        Тимур Родригез, Данила Козловский, Александр Петров, Диана Арбенина, Леонид Ярмольник, Михаил Трухин, 
                        Алексей Кравченко, Алексей Кортнев, Анатолий Белый, Максим Матвеев, Андрей Бурковский, Станислав Дужников и другие.</li>
                    <li class="list-group-item">Благотворительный онлайн-показ спектакля «Папа я тебя люблю»</li>
                    <li class="list-group-item">Театральный фестиваль в городе Тюмень</li>
                    <li class="list-group-item">Всероссийский фестиваль Оперение в Самаре-Тольятти</li>
                    <li class="list-group-item">На сцене Московской филармонии им. С. Прокофьева сыграли спектакль 
                        « О котах и машинах, о любви и критике» совместно с Илзе Лиепой, симфоническим оркестром, солистами Большого театра.</li>
                </ul>
            </p>
        </div>
        <div class="row about_block">
            <div class="operenie-block">
                <div class="image-block">
                    <img class="img-thumbnail" src="../../../../../media/operenie.jpg" alt="Thumbnail image">
                </div>
                <div class="operenie-text">
                    <p class="text-justify">Организовывали и успешно провели Всероссийский фестиваль 
                        студий творческого развития «Оперение»— «ЧЕперение», команда «Это Правда» и 
                        дети принимали гостей со всей страны!Особыми гостями фестиваля были певица 
                        Нюша и конечно Константин Юрьевич.</p>
                </div>
            </div>
        </div>

        <div class="row about_block">
            <div class="grid-about-wrapper">
                <div class="people-block card-block">
                    <div class="icon-block"><i class="fas fa-users"></i></div>
                    <div class="text-block">
                        За 7 лет студийцы приняли участие в мастер-классах от зарубежных и российских
                         <a class="activator" data="characters">звёзд</a>: с немецким хореографом
                         Улла Гайгес - обладательницой «Золотой маски» и конечно мастером-основателем Константином Юрьевичем Хабенским.
                        <div class="after_click" id="characters">
                            <span class="close" data="characters"></span>
                            <p>Леонид Ярмольник, Андрей Мерзликин и Дмитрий Махумадеев,Чулпан Хаматова, Нона Гришаева, 
                                Сергей Безруков, Татьяна Васильева, Сергей Витауто Пускепалис, Николай Фоменко, 
                                Елена Сафонова, Мария Аронова, Михаил Полицеймако, Диана Арбенина, Сергей Маковецкий, 
                                театральный хореограф и постановщик Николай Александрович Реутов, немецкий хореограф 
                                Улла Гайгес - обладательница «Золотой маски» и конечно мастер-основатель Константин Юрьевич Хабенский.</p>
                        </div>
                    </div>
                </div>
                <div class="chrity-block card-block">
                    <div class="icon-block"><i class="fas fa-hand-holding-usd"></i></div>
                    <div class="text-block">
                        За период существования студии « Это Правда » было поставлено и сыграно более 10 
                        благотворительных <a class="activator" data="plays">спектаклей</a>. 
                        Благодаря спектаклям за 7 лет студийцы совершили 
                        благотворительные пожертвования более 10 миллионов рублей.
                        <div class="after_click" id="plays">
                            <span class="close" data="plays"></span>
                            <p>Военный спектакль «Не покидай меня», «Папа я тебя люблю», 
                                «Аркаим», «Небо над небом», «Маша и Витя против Диких гитар», 
                                «Любовь стоит того, чтобы ждать», «Не про любовь, но всё-таки о ней», 
                                «Чехов, Чаплин, в Человеке должно быть все…» и др.</p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        
        <!-- Ustav -->
        <div class="row about_block">
            <!-- Our Charter -->
            <div class="charter-block">
                <h1 class="display-3">И напоследок...</h1>
                <div class="cont">
                    <div class="charter-text">
                        <h2><strong>Устав</strong></h2>
                        <ul class="charter-list">
                            <li><p>от серости и безысходности вокруг</p></li>
                            <li><p>от непонимания чиновников и общества аля-культур</p></li>
                            <li><p>от уныния, коньюнктуры, лицемерия, и хандества</p></li>
                            <li><p>от запечатывания людей в консервные банки мнимой успешности</p></li>
                            <li><p>от зомбирования и дрессирования детей</p></li>
                            <p class="text-justify end">Устав от всего этого!</p>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

{% endblock %}